{% include("header.html") %}

<form action="{{ ADMWEBROOT }}controller/modules/blog/article/add" method="post">
	<input class="submit-contenu" type="submit" value="Ajouter l'article">
	
	<div class="inner">
		<section class="contenu modifier-contenu">
			<div class="colonne">
				<h2>Titre de l'article</h2>
				<div class="bloc">
					<label class="label" for="title"  data-error="Le titre de l'article doit être entre 4 et 20 caractères">Titre de l'article</label>
					<input type="text" name="title" type-val="string" min="4" max="20" value="{{ title }}" required=""/>
				</div>
			</div>
			<div class="colonne">
				<h2>Etat de l'article</h2>
				<div class="bloc">
					<select name="state" id="" required>
						<option value="">Selectionnez l'état de votre article</option>
						{% for i in blog.list_state %}
							<option value="{{ i.id_state }}">{{ i.state }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</section>
		
		<section class="contenu modifier-contenu">
			<h2>Catégories de l'article</h2>
			
			<div class="espacement"></div>
			
			{% for i in blog.categories_list %}
				{{ i.category }}
				<input type="checkbox" name="categories[]" value="{{ i.category }}">
			{% endfor %}
		</section>
		
		<section class="contenu modifier-contenu">
			<h2>Contenu de votrte article</h2>
			<script src="{{ LIBSWEBROOT }}ckeditor/ckeditor.js"></script>
			<script src="{{ WEBROOT }}config/config_ckeditor.js"></script>
			<script>
                $(document).ready(function() {
                    CKEDITOR.replaceClass = 'ckeditor';
                });
			</script>
			<div class="bloc">
				<textarea name="article" id="" cols="30" rows="10" class="ckeditor">
					{{ article }}
				</textarea>
			</div>
		</section>
	</div>
</form>