{% include("header.html") %}

<form action="{{ ADMWEBROOT }}controller/modules/blog/category/edit" method="post">
    <input class="submit-contenu" type="submit" value="Modifier la categorie">
    
    <div class="inner">
        <section class="contenu modifier-contenu">
            
            <h2>Titre de l'article</h2>
            <div class="bloc">
                <label class="label" for="category"  data-error="Le titre de la catégorie doit être entre 4 et 20 caractères">Titre de la catégorie</label>
                <input type="text" name="category" type-val="string" min="4" max="20" value="{{ category_name }}" required=""/>
            </div>
        </section>
    </div>
    
    <input type="hidden" name="old_category" value="{{ blog.category_name }}">
    <input type="hidden" name="id_category" value="{{ blog.id_category }}">
</form>