{% include("header.html") %}

<form action="{{ ADMWEBROOT }}controller/modules/blog/article/edit" method="post">
	<button class="submit-contenu" type="submit">Modifier</button>
	<button class="submit-contenu supprimer-page supprimer open-popup" popup="popup-delete" href="{{ ADMWEBROOT }}controller/modules/blog/article/delete.php?id_article={{ blog.article.id_article }}">Supprimer l'article</button>
	
	<div class="inner">
		<section class="contenu modifier-contenu">
			<div class="colonne">
				<h2>Titre de l'article</h2>
				<div class="bloc">
					<label class="label" for="title"  data-error="Le titre de l'article doit être entre 4 et 20 caractères">Titre de l'article</label>
					<input type="text" name="title" type-val="string" min="4" max="20" required="" value="{{ blog.article.title }}"/>
				</div>
			</div>
			<div class="colonne">
				<h2>Etat de l'article</h2>
				<div class="bloc">
					<select name="state" id="" required>
						<option value="">Selectionnez l'état de votre article</option>
						{% for i in blog.list_state %}
							{% if blog.article.id_state == i.id_state %}
								{% set selected = "selected" %}
							{% else %}
								{% set selected = "" %}
							{% endif %}
							<option value="{{ i.id_state }}" {{ selected }}>{{ i.state }}</option>
						{% endfor %}
					</select>
					</select>
				</div>
			</div>
		</section>
		
		<section class="contenu modifier-contenu">
			<h2>Catégories de l'article</h2>
			
			<div class="espacement"></div>
			
			{% for i in blog.categories_list %}
				{{ i.category }}
			
				{% set checked = "" %}
				{% for x in blog.article.categories %}
					{% if i.category == x.category %}
						{% set checked = "checked" %}
					{% endif %}
				{% endfor %}
				<input type="checkbox" name="categories[]" value="{{ i.category }}" {{ checked }}>
			{% endfor %}
		</section>
		
		<section class="contenu modifier-contenu">
			<h2>Contenu de votrte article</h2>
			<script src="{{ LIBSWEBROOT }}ckeditor/ckeditor.js"></script>
			<script src="{{ LIBSWEBROOT }}ckfinder/ckfinder.js"></script>
			<script src="{{ WEBROOT }}config/config_ckeditor.js"></script>
			<script>
                $(document).ready(function() {
                    var editor = CKEDITOR.replace('article');
                    CKFinder.setupCKEditor(editor, "/libs/ckfinder/");
                });
			</script>
			<div class="bloc">
				<textarea name="article" id="article" cols="30" rows="10" class="article">
					{{ blog.article.article }}
				</textarea>
			</div>
		</section>
	
	</div>
	
	<input type="hidden" name="id_article" value="{{ blog.article.id_article }}">
</form>