<header>
    <div class="inner">
        <h1>Gestion du blog : </h1>
        <h2>Liste des derniers articles</h2>
    </div>
</header>

<div class="inner">
	<div class="added-module">
		{% for i in blog.articles %}
			<div class="bloc">
				<div class="image">
					<img src="{{ LIBSWEBROOT }}images/systeme/fond-bloc.png" alt="">
				</div>
				<div class="categorie">
					<ul>
						{% for x in i.categories %}
							<li>{{ x.category }}</li>
						{% endfor %}
					</ul>
				</div>
				
				<h2>{{ i.title }}</h2>
				<h3>{{ i.publication_date }} par {{ i.pseudo }}</h3>
				
				<h4><i class="fa fa-comments animated activate swing infinite"></i>20commentaires</h4>
				
				<a class="modifier" href="{{ WEBROOT }}blog/article/{{ i.url }}">Modifier l'article</a>
				<a class="commentaire" href="{{ WEBROOT }}blog/article/{{ i.url }}">Gestion commentaires</a>
				<a class="supprimer" href="">Supprimer l'article</a>
			</div>
		{% endfor %}
	</div>
</div>