<header>
    <div class="inner">
        <h1>Gestion du blog : </h1>
        <h2>Liste des derniers articles</h2>
    </div>
</header>

<div class="inner">
	<div class="added-module">
		{% for i in blog.articles %}
			<div class="bloc">
				<div class="header">
					<div class="categorie">
						<ul>
							{% for x in i.categories %}
								<li>{{ x.category }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="clear"></div>
				
				<h2>{{ i.title }}</h2>
				<h3>{{ i.publication_date }}</h3>
				
				<a href="{{ WEBROOT }}blog/article/{{ i.url }}">Lire la suite</a>
			</div>
		{% endfor %}
	</div>
</div>