{#this page show only last articles ordered by date_creation#}
{% for i in blog.articles %}
	<article>
		<h2>{{ i.title }}</h2>
		<h3>{{ i.publication_date }} posté par {{ i.pseudo }}</h3>
		
		<ul>
			{% for x in i.categories %}
				<li><a href="{{ WEBROOT }}blog/category/{{ x.category }}">{{ x.category }}</a></li>
			{% endfor %}
		</ul>
		
		{{ i.article }}
		
		<a href="{{ WEBROOT }}blog/article/{{ i.url }}">Lire la suite</a>
	</article>
{% endfor %}

{% if blog.categories_list is iterable %}
	<h3>Categories list</h3>
	<ul>
		{% for i in blog.categories_list %}
			<li><a href="{{ WEBROOT }}blog/category/{{ i.category }}">{{ i.category }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
